<polymer-element name="ceci-chart" extends="ceci-element" attributes="dataUrl unit increment value collectionname">
  <script src="vendor/chartjs/Chart.min.js"></script>
  <ceci-definition>
    {
      "name": "Line Graph",
      "thumbnail": "./thumbnail.png",
      "description": "Shows a line graph of a data set over time.",
      "tags": ["chart","number"],
      "broadcasts": {
      },
      "listeners": {
        "graph": {
          "description": "Graphs available data.",
          "label": "Graph",
          "default": true
        }
      },
      "attributes": {
        "collectionname": {
          "description": "The name of the collection to store the value",
          "label": "Collection Name",
          "editable": "text"
        },
    "dataUrl":{
      "description": "url for chart data",
          "label": "Data url",
          "editable": "text",
          "listener":true

    }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css">
    <div class="wrapper">
      <canvas id="canvas" width="310" height="400"></canvas>
    </div>
    <shadow></shadow>
  </template>
  <tags></tags>
  <script>
  
      Polymer("ceci-chart", {
        dataUrl : "/bundles/components/component-chart/chart.json",
        keyPrefix : "hack-collection-",
        ready : function() {
          this.super();
          var canvas = this.$.canvas;
          var ctx = canvas.getContext('2d');
          this.chart = new Chart(ctx);

          // this needs to happen on the next tick
          this.async(this.graph);
        },

        // ideally want [keys,data1,data2,...]
        getData : function() {
          var key = this.keyPrefix + this.collectionname;
          var data = JSON.parse(localStorage[key]);
          return this.processData(data);
        },
        processData : function(data) {

          var values = [];
          var keys = Object.keys(data);

          for ( var i in keys) {
            values.push(data[keys[i]]);
          }

          return {
            labels : keys,
            datasets : [ {
              fillColor : "rgba(54, 171, 42, .6)",
              strokeColor : "rgba(30, 151, 29, 1.0000)",
              data : values
            } ]
          };
        },
        getIntegerScaleParameters : function(data) {
          var maxValue = false;
          for (datasetIndex = 0; datasetIndex < data.datasets.length; ++datasetIndex) {
            var setMax = Math.max.apply(null, data.datasets[datasetIndex].data);
            if (maxValue === false || setMax > maxValue)
              maxValue = setMax;
          }

          var steps = new Number(maxValue);
          var stepWidth = new Number(1);
          if (maxValue > 10) {
            stepWidth = Math.floor(maxValue / 10);
            steps = Math.ceil(maxValue / stepWidth);
          }
          return {
            animation : true,
            scaleOverride : true,
            scaleSteps : steps,
            scaleStepWidth : stepWidth,
            scaleStartValue : 0
          };
        },

        graph : function() {
          var online = window.navigator.onLine;
          var that = this;
          var add_data = function(d) {
            var data = that.processData(d);
            that.chart.Line(data, that.getIntegerScaleParameters(data));
            var key = that.keyPrefix + that.collectionname;
            localStorage[key] = JSON.stringify(d);
          }
          // use stored data when offline
          if (this.dataUrl !== "" && online) {
            $.ajax(this.dataUrl).done(add_data);
          } else {
            add_data();
          }
        }
      });
    </script>
</polymer-element>
