<polymer-element name="ceci-thingspeak" attributes="volume playsound fontsize textcolor buttoncolor label labelSubmitted value" labelSubmitted="Super!" label="Send to Thingspeak" value="Press" extends="ceci-element"
  textcolor="#ffffff"
  fontsize="18"
  volume=".5"
  playsound="true"
  buttoncolor="orange">
  <ceci-definition>
    {
      "tags": ["button", "click", "tap"],
      "thumbnail": "./thumbnail.png",
      "description": "Send data to thingspeak with lat lon",
      "name": "Thingspeak",
      "broadcasts": {
        "click": {
          "label": "Press",
          "description": "Occurs when button is clicked.",
          "default": true
        }
      },
      "listeners": {
        "lat": {
           "label":"latitude",
           "description":"lat"
    },
      "lon": {
           "label":"longitude",
           "description":"lon"
    },
        "field0": {
           "label":"field0",
           "description":"field0"
    },
        "field1": {
           "label":"field1",
           "description":"field1"
    },
        "field2": {
           "label":"field2",
           "description":"field2"
    },
        "field3": {
           "label":"field3",
           "description":"field3"
    },
        "sendData": {
           "label":"sendData",
           "description":"sendData"
          
    }

      },
      "attributes": {
        "apikey": {
          "label": "API Key",
          "description": "Your Thingspeak API key. Get one at https://thingspeak.com/",
          "editable": "text",
          "listener": true
        },
        "label": {
          "label": "Label",
          "description": "Text shown on the button.",
          "editable": "text",
          "default": "Send to thingspeak",
          "listener": true
        },
         "labelSubmitted": {
          "label": "Submitted Label",
          "description": "Text shown on the button after it's pressed.",
          "editable": "text",
          "default": "Super!",
          "listener": true
        },
        "value": {
          "label": "Broadcast Value",
          "description": "Value sent by the button.",
          "editable": "text"
        },
        "textcolor": {
          "label": "Text Color",
          "description": "Color of the text on the button's label.",
          "editable": "color"
        },
        "buttoncolor": {
          "label": "Button Color",
          "description": "Background color of the button.",
          "editable": "color",
          "listener": true
        },
        "fontsize": {
          "label": "Font Size",
          "description": "Button label font size.",
          "editable": "range",
          "min" : "4",
          "max" : "40"
        },
        "playsound": {
          "label": "Play Sound when Pressed",
          "description": "Play a sound when pressed.",
          "editable": "boolean"
        },
        "volume": {
          "label": "Volume",
          "editable": "range",
          "min" : 0,
          "max" : 1,
          "step" : ".01"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div id="buttonwrapper" style="font-size: {{fontsize}}px; background: {{buttoncolor}};" on-ceci-pressdown="{{pressdown}}" on-ceci-pressup="{{pressup}}" class="button-wrapper">
      &nbsp;
      <div class="overlay active-overlay"></div>
      <div id="button" style="color: {{textcolor}};">{{label}}</div>
      <div class="bottom"></div>
    </div>
    <shadow></shadow>
    <!-- Button click sound courtesy of http://www.freesfx.co.uk -->
  </template>
  <script>
/**
Plan 
In<-fields on channels
Out->call to thingspeak
data: your apikey. 
*/

    Polymer('ceci-thingspeak', {
      isPressed:false,
       
        ready : function() {
          this.super();
          this.loadSound("tap", "sounds/tap.mp3");

        },
        attached : function() {
          this.super();
          var that = this;
     //     this.setGeo(function(){that.getGeo();});
        },
        pressdown : function() {
          this.super();
          if (this.playsound === "true") {
            this.playSound("tap", this.volume);
          }
          this.$.buttonwrapper.classList.add("pressdown");
          this.submit();
          this.broadcast('click', this.getAttribute('value'));
        },
        pressup : function() {
          this.$.buttonwrapper.classList.remove("pressdown");
          this.$.buttonwrapper.classList.remove("fade");
          this.$.buttonwrapper.offsetWidth = this.$.buttonwrapper.offsetWidth;
          this.$.buttonwrapper.classList.add("fade");
          var lb = this.label;
          this.label = this.labelSubmitted;
          var bc = this.buttoncolor;
          this.buttoncolor = "green";
          
          var that = this;
          if (!this.isPressed) {
            this.isPressed = true;
          window.setTimeout(function(){
      	      that.buttoncolor = bc;
      	      that.label = lb;
        	  that.isPressed = false;
          },1000);
          }
          
          
        },
        sendData : function() {
          console.log("sendData");
         
          this.submit();
        },
        lat : function(e) {
          this.$.lat = e;
        
        },
        lon : function(e) {
          this.$.lon = e;
          
        },
        field0 : function(e) {
          this.$.field0 = e;
         
        },
        field3 : function(e) {
          this.$.field3 = e;
        
        },
        field4 : function(e) {
          this.$.field4 = e;
        },
        // various components set data at ready
        // user clicks here or a separate button to submit
        submit : function() {
          console.log("thingspeak: submit");
          var that = this;
          
          var send2ts = function() {

	          var apikey = that.attributes.apikey.value;
	          
	          // get current geo position
	          // at the moment this is only set on start. 
	          var lat =  that.$.lat; 
	          var lon =  that.$.lon;
	          var url = 'http://api.thingspeak.com/update?key='+apikey;
	          
	          // build the url
	          
	          url = url 
	          + '&field1='
	          +lat
	          + '&field2='
	          +lon;
	          // component field0 = thingspeak field3
	          if (that.field0) {
	          	url += "&field3="
	          	+ encodeURIComponent(that.$.field0);
	          }
	          if (that.field1) {
	          	url += "&field4="
	          	+ encodeURIComponent(that.$.field1);
	          }
	          if (that.field2) {
	          	url += "&field5="
	          	+ encodeURIComponent(that.$.field2);
	          }
	          if (that.field3) {
	          	url += "&field6="
	          	+ encodeURIComponent(that.$.field3);
	          }
	          if (that.field4) {
	            	url += "&field7="
	            	+ encodeURIComponent(that.$.field4);
	            }
	            if (that.field5) {
	            	url += "&field8="
	            	+ encodeURIComponent(that.$.field5);
	            }
	            
	          console.log(url); 
	          $.ajax(url);
        };
        
        send2ts();
        }
      });
    </script>
</polymer-element>
