<polymer-element name="ceci-geo-location" attributes="continuous text state label value showGeo"  extends="ceci-element">
  <ceci-definition>
    {
      "tags": ["text", "utility"],
      "thumbnail": "./thumbnail.png",
      "description": "geolocation",
      "name": "Geolocation",
      "broadcasts": {
        "lat": {
          "label": "latitude",
          "description": "geolocation.latitude"
        },
   	 	"lon": {
          "label": "longitude",
          "description": "geolocation long"
        },
        "result": {
          "label": "Result",
          "description": "geolocation."
        }
      },
      "listeners": {
        "getLocation": {
          "label": "getLocation",
          "description": "get a new location fix"
        }
      },
	"attributes": {
		 "label": {
          "label": "Label",
          "description": "Text shown on the button.",
          "editable": "text",
          "listener": true
        },
        "showGeo": {
        "label": "Show Geolocation",
        "description": "display the current location",
        "editable":"boolean",
         "listener": true
        }

	   }
    }
  </ceci-definition>
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        min-height: 2em;
      }
      :host #state-message {
        color: white;
        visibility: hidden;
        text-align: center;
        font-size: 1.5em;
      }

      :host #result-text {
        padding: .2em;
      }

      :host([state="recording"],[state="decoding"]) #state-message {
        visibility: visible;
      }
      :host #geo-lat2 {
      position: relative;
      top: 100px;
      display: block;
      background-color: green;
      height: 20px;
      color: white;
      }
      :host #geo-lon2 {
      display: block;
      background-color: white;
      //position: relative;
      //top: 100px;
      height: 20px;
            color: white;
      }
      :host([state="recording"]) #state-message {
        background-color: darkred;
      }

      :host([state="decoding"]) #state-message {
        background-color: gold;
      }

      :host(:not([state="idle"])) #result-text {
        visibility: hidden;
      }

      :host #container {
        position: relative;
      }

      :host #container div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    </style>

    <div id="container">
	
	 <div id="latlon"	>
     	lon: {{lon}} 
     	<br/>
     	lat: {{lat}}
     	<br/>
     	
      </div>
    </div>
    <shadow></shadow>
    <content></content>
  </template>
  <script>
    Polymer('ceci-geo-location', {
      resultantText: '',
      state: 'idle',
      continuous: false,
      text: '',
     
      geo : function() {
          /* http://www.html5rocks.com/en/tutorials/geolocation/trip_meter/ */
			this.super();
          // geo stuff
          var that = this;
    
          window.navigator.geolocation.watchPosition(function(pos) {
            var lat, lon;
            // exc. if undefined? prob just leave, let caller cope, push error
            lat = pos.coords.latitude
            lon = pos.coords.longitude;
            // for the moment, we'll use jquery
            // but we could do pure html5: document.getElementsByTagName('body')[0].dataset.lon;
            // or should it be ceci-app
            $(document).data('lat',lat);
            $(document).data('lon',lon);
            that.lat = Math.round(lat * 1000) / 1000;
            that.lon = Math.round(lon * 1000) / 1000;
 
          });
        }, //geo
        /* -- Lifecycle ------------------------------------------------- */
        /*  
        - write lat/lon to data on document node when element is created. 
        - read the location whenver the component is pinged
        - optionally display the lat lon. 
        
        */
        
        
         
        created : function() {
          this.geo(); // write lat-lon to 

        }, // created

        ready : function() {
          this.super();
         
//          [ 'start', 'error', 'end' ].forEach(this.propagateEvent.bind(this));
//          this.bindResult();

		  this.geo();
          

        },
       attached: function() {
         console.log("ready");
         console.log(this.showGeo);
         if (this.showGeo) {
        	// show the geo info here. 
        
         }
         
       },
        /* -- Events ---------------------------------------------------- */
        propagateEvent : function(eventName) {

          //          this.recognition.addEventListener(eventName, this.fire.bind(this, eventName));
        },

        bindResult : function() {
          var that = this;

          /**
           this.recognition.addEventListener('result', function(e) {

           for (var i = e.resultIndex; i < e.results.length; ++i) {
           that.text += e.results[i][0].transcript;
           e.result = that.text;
           that.broadcast('result', e.results[i][0].transcript);
           }

           that.fire('result', e);
           });
           */
        }
      });
    </script>
</polymer-element>
